[Unit]
Description=go_web_server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/var/go_web_server
EnvironmentFile=/etc/go_web_server/env
ExecStart=/usr/bin/go_web_server
LimitNOFILE=100000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target